body {
    background-color: #1e201e75;
    margin-left: 3%;
    margin-right: 3%;  
}

h1 {
text-align: center;
font-size: 60px;
}

#name {  
    font-size: 40px;  
}

footer{ 
    color: white;
    background-color: black ;
  padding: 20px; 
}
.pages {  
    display: inline;
    margin: 100px; 
}

a { 
    text-decoration: none;  
    color: white;
    font-size: 20px;
}

ul {
    background-color: black;
    padding: 15px;
    text-align: center;   
}

#bio {
    font-size: 25px;   
}

.topTen{
font-size:25px ;
border: 2px solid black;
margin:10px;
padding: 20px 20px 20px 50px;
background-color: #555554;
color: white;
}

#movie {
    font-size:25px ;
    border: 2px solid black;
padding: 20px;
}

